#
# Add additional services here
#

on early-init

    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage/sdcard1 0000 system system
    symlink /storage/sdcard1 /external_sd
    symlink /sdcard1 /mnt/external_sd

#   export EXTERNAL_STORAGE_USB /storage/usbdisk
#   mkdir /storage/usbdisk 0000 system system
#   symlink /storage/usbdisk /usbdisk
#   symlink /storage/usbdisk /mnt/usbdisk




on boot

    # Sensor
    chmod 755 /system/bin/geomagneticd
    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input3/wake
    chown system input /sys/class/input/input4/enable
    chown system input /sys/class/input/input4/delay
    chown system input /sys/class/input/input4/wake
    chown compass input /sys/class/input/input5/offsets
    chown compass input /sys/class/input/input5/dynamic_matrix
    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input6/wake


#service skytestserver /system/bin/logwrapper /system/bin/skytestserver
#    class main #DATA_ENCRYPTION
#    socket skytest stream 666
#    user root

on post-fs-data

    # Sensors
    mkdir /data/misc/sensors 0775 root root
    write /data/system/sensors/settings 0
    chmod 0664 /data/system/sensors/settings
mkdir /data/trace 0770 system system
mkdir /dev/pantech 0660
    chown system system /dev/pantech

   write /sys/power/wake_lock abc
    exec radiooptions 1

 chmod 0777 /dev/aud_sub*
#skytest
service skytestserver /system/bin/logwrapper /system/bin/skytestserver
    socket skytest stream 666
    user root

# Sensor daemon
service orientationd /system/bin/orientationd
    user compass
    group input

service geomagneticd /system/bin/geomagneticd
    user compass
    group system input
